{% extends 'autheticate/base.html' %}

{% block content %}

<h1>Welcome to my Quiz</h1>

{% if user.is_authenticated %}

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Student Profile</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">Success always follows hard work</p>
    <a href="#" class="card-link">Rank</a>
    <a href="#" class="card-link">Show Profile Details</a>
  </div>
</div>


{% endif %}


{% endblock %}
 